@import 'resolutions';
@import 'colors';
@import 'fonts';

@mixin separator{
	width:100%;
	height: 4px;
	background: $color-azul;
}
@mixin icons{
	width:100%;
	padding-top:20px;
	img{
		border-radius: 50%;
		width: 50px;
	}
}

@function texto($size-text: 10px){
  @return  $size-text + 2;
} 

.parrafo {
  font: {
	family: 'Roboto', sans-serif;
	size: texto(10px);
	}
	color:$gris-text;
}

.titulo {
   font: {
	family: 'Roboto', sans-serif;
	size: texto(15px);
	}
	color:$gris-text;
}
.enlace{
	font:{
        family: 'Oswald', sans-serif;
		size: texto();
	}
	color:$gris-text;
	margin-top: $top-span;
}
.p-icon{
	font:{
        family: 'Roboto', sans-serif;
		size: texto();
	}
	color:$gris-text;
	padding-top:$top-icon;
}


nav{
	@extend .parrafo;
	text-align:$center;
	a{
	padding: 10px;
	text-decoration: $none;
	}
}

.separator{
 	@include separator;
 }
 #container-logo{
 	img{
 		margin-left: $izquierda;
 	}
 }

 #connect{
 	ul{
 	@extend .parrafo;
 	list-style: $none;
 	}	
 }
 
 .icon{
 	@include icons;
 }
 .top{
 	padding-top:$top-icon;
 }